	<myplate id="canvas_container"></myplate>
	<div class="hide" id="fruits">
		<h2>Fruits</h2>
			<ul>
				<li>Apples</li>
				<li>Bananas</li>
				<li>Oranges</li>
			</ul>
	</div>
	<div class="hide" id="vegetables">
		<h2>Vegetables</h2>
			<ul>
				<li>Spinach</li>
				<li>Broccolli</li>
				<li>Lettuce</li>
			</ul>
	</div>
	<div class="hide" id="protein">
		<h2>Protein</h2>
			<ul>
				<li>Salmon</li>
				<li>Steak</li>
				<li>Chicken</li>
			</ul>
	</div>
	<div class="hide" id="grains">
		<h2>Grains</h2>
			<ul>
				<li>Rice</li>
				<li>Pasta</li>
				<li>Bread</li>
			</ul>
	</div>

	
